{% extends 'base.html' %}
{% load static%}

{% block content %}
<div class="row" style="margin-top: 3rem;">
    <div class="col">
        <div class="d-flex justify-content-center" >
            <div class="h1">{{message}}</div>
           
        </div>

    </div>
</div>

<div class="row">
    <div class="col">
        <div class="d-flex justify-content-center" >
            {% include 'users/snippets/breadcrumb.html'%}

        </div>

    </div>
</div>

<div class="row">
    
    <div class="col-6">
        <div class="h5" style="margin-bottom: 2rem;">
            <span style="text-transform: uppercase;">Nombre del Usuario:  </span>
            <span class="p2" style="color: red;"><br>{{user.get_full_name}}</span>
        </div>

        <div class="h5" style="margin-bottom: 2rem;">
            <span style="text-transform: uppercase;">Usuario: </span>
            <span class="p2" style="color: red;"><br>{{user.username}}</span>
        </div>
        <div class="h5" style="margin-bottom: 2rem;">
            <span style="text-transform: uppercase;">Correo Electronico: </span>
            <span class="p2" style="color: red;"><br>{{user.email}}</span>
        </div>

        <div class="h5" style="margin-bottom: 2rem;">
            <span style="text-transform: uppercase;">Tipo de usuario: </span>
            <span class="p2" style="color: red;">{{user.user_type}}</span>
        </div>
               

    </div>
    <div class="col-6">
        <div class="d-flex justify-content-center" >
            <img src="{{user.get_image}}" height="300rem">

        </div>
        
        
    </div>

</div>





<div class="d-grid gap-2 col-6 mx-auto" style="margin-top: 3rem;">
    <a class="btn btn-dark" type="button" href="{% url 'users:list' %}">Regresar</a>

</div>
{% endblock %}