{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="card " style="margin-top: 2rem;">
    <div class="card-body">
        {% if user.is_superuser or update %}
        <a href="{% url 'users:list'%}" class="actions">X</a>

        {% else %}
        <a href="{% url 'users:login' %}" class="actions">X</a>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}


            <div class="form-group" style="margin-bottom: 1rem;">



                {{ field.label_tag }}
                {{ field }}

                {% if field.errors %}
                {{ field.errors }}
                {% endif %}

            </div>





            {% endfor %}

            <br>

            <button type="submit" class="btn  btn-dark ">{{info}}</button>
            {% if user.is_superuser or update %}
            <a href="{% url 'users:list'%}" class="actions">CANCELAR</a>

            {% else %}
            <a href="{% url 'users:login' %}" class="actions">CANCELAR</a>
            {% endif %}


        </form>
    </div>
</div>




{% endblock %}