{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="col">
    {% if user.is_superuser or update %}
    <a href="{% url 'users:list'%}" class="actions">X</a>

    {% else %}
    <a href="{% url 'users:login' %}" class="actions">X</a>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        {% if field.name != 'password1' and field.name != 'password2'%}
        
        <div class="form-group" style="margin-bottom: 1rem;">
            


            {{ field.label_tag }}
            {{ field }}

            {% if field.errors %}
            {{ field.errors }}
            {% endif %}

        </div>
        {% endif %}

        


        {% endfor %}

        <br>
        <div class="d-grid grap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-lg btn-dark ">{{info}}</button>
        </div>

    </form>

</div>



{% endblock %}