{% extends 'base.html' %}

{% load static %}

{% block content %}


{% if product_list %}
<div class="row" style="margin-top: 5rem;">  
  <div class="d-flex justify-content-center">
    
    <h2>{{ message }}</h2>

  </div>
</div>
{% include 'products/snippets/breadcrumb.html'%}

<div class="row">
  <!--BOTONES DE AGREGAR Y GENERAR REPORTE-->
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-start">
        <a class="btn btn-dark" href="{% url 'products:Crear'%}">Agregar: </a>
      </div>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end">
        <a class="btn btn-outline-dark" href="#">GENERAR REPORTE</a>

      </div>
    </div>
  </div>

  <!--APARTADO DONDE SE MUESTRA EL LISTADO DE PRODUCTOS-->
  <div class="row" style="margin-top: 2rem;">
    <div class="col">
      <table class="table table-hover caption-top ">
        <thead>          
          <tr>
            <th scope="col">Nombre del producto</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Categoría</th>
            <th scope="col">Fecha de creación</th>

          </tr>



        </thead>
        <tbody>
          {% for producto in product_list %}
          <tr>
            <td scope="row">{{producto.title}}</td>
            <td>{{producto.description}}</td>
            <td>Q {{producto.price}}</td>

            <td>
              <ul>
                {% for categoria in producto.category.all %}
                <li>{{categoria}}</li>
                {% endfor %}
              </ul>
            </td>
            <td>{{producto.created_at}}</td>

            <td>
              <a class="btn btn-outline-dark" href="{% url 'products:Detalle' producto.id %}">Mostrar</a>
              <a class="btn btn-outline-dark" href="{% url 'products:Actualizar' producto.id %}">Editar</a>
              <a class="btn btn-outline-dark" href="{% url 'products:Eliminar' producto.id %}">Eliminar</a>
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>

    </div>
  </div>

</div>
{% else%}
<div class="row">
  <h2>No se ha encontrado ningún producto</h2>
  <a class="btn btn-primary" href="{% url 'products:Crear' %}"> Agregar</a>


</div>
{% endif %}


{% endblock %}