{% extends 'base.html' %}
{% load static %}

{% block content %}

<hr class="featurette-divider">

<div class="row featurette">
        <div class="col-md-10">
          <h4 class="featurette-heading">Información sobre el Proyecto </h4>
            <p class="lead">
                Nombre: Punto de Ventas
            </p>
          <p class="lead">
                Fecha de creación: 16 de agosto del 2022
            </p>
            <p class="lead">
                Objetivo: Crear un sistema de ventas que administre eficientemente las operaciones y datos
                realizados a través de él, como lo son los clientes, los productos, los usuarios y las facturas.
            </p>
        </div>
</div>


<hr class="featurette-divider">


<div class="row featurette">
        <div class="col-md-10">
          <h4 class="featurette-heading">--Creadores-- </h4>
        </div>
</div>


<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-10">
          <h5 class="featurette-heading">Juan Carlos Choc Xol </h5>
            <p class="lead">
                Carné: 202041390
            </p>
          <p class="lead">Estudiante universitario de sexto semestre de la carrera de
            Ingeniería en Ciencias y Sistemas en la Universidad de San Carlos de Guatemala USAC-CUNOR.
          </p>

            <p class="lead">
            GitHub:
          </p>

          <ul>
            <li class="btn btn-secondary">
              <a href="https://github.com/choc1403" target="_blank">
                <svg class="bi" width="16" height="16"><use xlink:href="#gitHub"/></svg>
              </a>
            </li>
          </ul>
        </div>
      </div>


<hr class="featurette-divider">



      <div class="row featurette">
        <div class="col-md-10">
          <h5 class="featurette-heading">Ever Marcos Francisco Corazón Rodríguez </h5>
          <p class="lead">
                Carné: 202042236
            </p>
          <p class="lead">Estudiante universitario de sexto semestre de la carrera de
            Ingeniería en Ciencias y Sistemas en la Universidad de San Carlos de Guatemala USAC-CUNOR.
          </p>

          <p class="lead">
            GitHub:

          </p>

          <ul>
            <li class="btn btn-secondary">
              <a href="https://github.com/EverCR1" target="_blank">
                <svg class="bi" width="16" height="16"><use xlink:href="#gitHub"/></svg>
              </a>
            </li>
          </ul>
        </div>
      </div>



{% endblock %}