{% extends 'base.html' %}
{% load static %}
{% block content %}

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-12">
        <h5 class="featurette-heading"><b>¿Cómo funcionan los apartados del Proyecto?</b> </h5>
            <h6 class="featurette-heading"><u>*Menú Desplegable ARCHIVO*</u></h6>
            <p class="text-align-justify" >
                <b>Clientes:</b> Permite la creación y visualización de los clientes activos, en él podemos añadir nuevos clientes
                con la opción "Agregar", también podremos editar su información a través de la opción "Editar", con la opción
                "Mostrar" se desplegarán los detalles de cada cliente y con la opción "Eliminar" borraremos toda la información
                de un cliente.
            </p>
          <p class="text justify">
              <b>Productos:</b> Tendremos disponibles las mismas funcionalidades del apartado clientes, aplicado en los productos,
                podemos añadir, mostrar, editar o eliminar productos.
            </p>
            <p class="text justify">
                <b>Usuarios:</b> En este apartado se mostrarán los usuarios activos, su información relativa al programa, el tipo de
                usuario al que pertenecen y se podrá generar un reporte de estos usuarios a través de "GENERAR REPORTE".
            </p>
            <p class="text justify">
                <b>Salir:</b> Opción que nos permitirá cerrar las funcionalidades del programa y volver al apartado de login.
            </p>
        </div>
</div>

<hr class="featurette-divider">


<div class="row featurette">
    <div class="col-md-12">

            <h6 class="featurette-heading"><u>*Menú Desplegable MOVIMIENTOS*</u></h6>
            <p class="text-align-justify" >
                <b>Nueva Factura:</b> Permite generear o crear una nueva factura...
            </p>
          <p class="text justify">
              <b>Reportes de Factura:</b> A través de esta opción obtendremos un reporte detallado de todas las facturas que han
               sido emitidas...
            </p>

        </div>
</div>

<hr class="featurette-divider">


<div class="row featurette">
    <div class="col-md-12">

            <h6 class="featurette-heading"><u>*Menú Desplegable AYUDA*</u></h6>
            <p class="text-align-justify" >
                <b>Acerda de:</b> Contiene información sobre el proyecto y sus creadores.
            </p>
          <p class="text justify">
                <b>Ayuda:</b> Brinda ayuda para la utilización y funcionamiento del programa, usted se encuentra en este apartado.
            </p>

        </div>
</div>





{% endblock %}