<td scope="row">{{product.title}}</td>
<td>{{product.description}}</td>
<td>Q {{product.price}}</td>

<td>
    <ul>
        {% for categoria in product.category.all %}
        <li>{{categoria}}</li>
        {% endfor %}
    </ul>
</td>
<td>{{product.created_at}}</td>

<td>
    <a class="btn btn-outline-dark" href="{% url 'products:Detalle' product.id %}">Mostrar</a>
    <a class="btn btn-outline-dark" href="{% url 'products:Actualizar' product.id %}">Editar</a>
    <a class="btn btn-outline-dark" href="{% url 'products:Eliminar' product.id %}">Eliminar</a>
</td>