{% extends 'base.html' %}

{% load static %}

{% block content %}


{% if customer_list %}
<div class="row" style="margin-top: 5rem;">
  <div class="d-flex justify-content-center">
    <h2>{{ message }}</h2>

  </div>
</div>
<div class="row">
  <div class="d-flex justify-content-center">
    {% include 'customers/snippets/breadcrumb.html'%}
  </div>

</div>



<div class="row">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-start">
        <a class="btn btn-dark" href="{% url 'customers:Crear'%}">Agregar: </a>
      </div>
    </div>

    

  </div>

  <div class="row" style="margin-top: 2rem;">
    <div class="col">

      <table class="table table-hover caption-top">
        <thead>
          <div class="d-flex justify-content-end">
            {% include 'customers/snippets/customerBuscar.html' with query=query %}
          </div>
          
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Fecha de nacimiento</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Identificador</th>
            

          </tr>


        </thead>
        <tbody>
          {% for customer in customer_list %}
          <tr>
            <td>{{customer.first_name}} {{customer.last_name}}</td>
            <td>{{customer.addres}}</td>
            <td>{{customer.phone_number}}</td>
            <td>{{customer.date_birth}}</td>
            <td>{{customer.city}}</td>
            <td>{{customer.id_type}}</td>
            


            <td>
              <a class="btn btn-outline-dark" href="{% url 'customers:Detalle' customer.id %}">Mostrar</a>
              <a class="btn btn-outline-dark" href="{% url 'customers:Actualizar' customer.id %}">Editar</a>
              <a class="btn btn-outline-dark" href="{% url 'customers:Eliminar' customer.id %}">Eliminar</a>              
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>

    </div>
  </div>


</div>
{% else%}
<div class="row">
  <div class="col">
    <div class="d-flex justify-content-center" style="height: 50vh; align-items: center; display: flex;">
      <h2>No se ha encontrado ningún cliente</h2>
      <a class="btn btn-outline-dark" href="{% url 'customers:Crear' %}"  style="margin-left: 0.5rem;"> Agregar</a>
    </div>
  </div>
  


</div>
{% endif %}


{% endblock %}